:root {
    --footer-height: 3.5rem;
}

* {
    box-sizing: border-box;
}

a {
    color: white;
}

br {
    line-height: 150%;
}

img {
    display: block;
}

canvas {
    z-index: -100;
    position: absolute;
}

summary:hover {
    cursor: pointer;
}

details[open] summary~* {
    transform: translateX(10px);
    animation: sweep .5s ease-in-out;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    color: white;
    background-color: black;

    font-family: "Open Sans", sans-serif;

    animation: fadeInAnimation ease-in-out 3s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    padding: 2% 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    z-index: 1000;
    transition: background 1s, box-shadow 1s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header.scrolled {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 16px rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(8px);
    transition: background 1s, box-shadow 1s, backdrop-filter 1s;

}

header #brand {
    display: flex;
    align-items: baseline;
    animation: white-text-glow 2s ease-in-out infinite alternate;
}

header #brand .main {
    font-size: 2.5rem;
}

header #brand .sub {
    padding-left: 10px;
    font-size: 0.85rem;
}

header nav {
    display: flex;
}

nav a {
    float: left;
    color: grey;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a.active {
    color: white;
}

nav a:hover {
    color: white;
}

main {
    width: 75%;
}

main section {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main section>img {
    max-width: 20rem;
    width: 100%;
    padding: 2rem;
    animation: white-image-glow 3s ease-in-out infinite alternate,
        floating 5s ease-in-out infinite;
}

#projects h1 {
    font-size: 4rem;
}

#projects {
    flex-direction: column;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    width: 75%;
}

.project {
    text-align: center;
}

.project>a {
    width: 100%;
    position: relative;
    background: url() 50% 50% no-repeat;
    background-size: cover;
    background-clip: content-box;
    border-radius: 15px;
}

.project>a:hover {
    transition: 0.15s ease-in-out;
    cursor: pointer;
    filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.7));
}

.project>a:before {
    display: block;
    content: "";
    padding-top: 60%;
}

.project>a {
    display: flex;
    flex-direction: column;
    transition: 0.25s ease-in-out;
}

.project h2 {
    font-size: 1.75rem;
    animation: white-text-glow 2s ease-in-out infinite alternate;
}

.info {
    backdrop-filter: blur(8px);
    padding: 32px 64px;
    background-color: rgb(0, 0, 0, 0.2);
    max-width: 42rem;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 1px 1px 16px rgba(200, 200, 200, 0.42);
}

.info:hover {
    background-color: rgb(0, 0, 0, 0.4);
}

.info>* {
    padding: 0;
    margin: 2%;
}

main section h1 {
    font-size: 3.5rem;
    text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.75);
}

footer {
    font-size: small;
    text-align: center;
    padding: 25px 0;
}

@keyframes white-text-glow {
    from {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
    }

    to {
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.75);
    }
}

@keyframes white-image-glow {
    from {
        filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.5));
    }

    to {
        filter: drop-shadow(0 0 35px rgba(255, 255, 255, 0.5));
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-1%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@media only screen and (max-width: 700px) {
    .info {
        padding: 32px;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3s ease-in-out;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    header {
        position: relative;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }
}
